// AdminLTE
@import '~admin-lte/dist/css/adminlte.min.css';

// Fontawesome
@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';

// iCheck Boostrap
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';

// SweetAlert2
@import '~admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css';

// Pace Progress
@import '~admin-lte/plugins/pace-progress/themes/red/pace-theme-minimal.css';

.input-label {
    width: 20%;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
